.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #441752;
    padding: 10px;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
  }
  
  .navbar a:hover {
    background-color: #A888B5;
    border-radius: 5px;
  }
  