.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #5DB996;
    padding: 10px;
    border-radius: 10px;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
  }
  
  .navbar a:hover {
    background-color: #9CDBA6;
    border-radius: 5px;
  }
  